@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Montserrat:wght@100&family=PT+Serif&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Montserrat:wght@100&family=PT+Serif&family=Poppins:wght@100&family=Space+Mono&display=swap');

body {
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;    
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    }

    .discription p {
        line-height: 12px;
        font-size: 20px;
       margin-top: 20px;
    }


 .images {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 2.5rem;  
     margin-top: 90px;  
 }

 img {
     width: 89%;
     padding-left: 80px;
 }

 .photo__job {
    writing-mode: vertical-rl;
}

 .photo {
    display: flex;
 }

 .photo:nth-child(even) {
    margin-top: 3rem;
  }

 .position {
    margin: 0 0.2rem;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size:  12px;
    text-transform: uppercase;
   
}

  .name {
    /* margin-top: .5rem;
    margin-bottom: 1rem; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-left: 80px;
  }

  footer {
      text-align: center;
      color: #A9A9A9;
  }